section.advantage.mt-5
  .container
    h2.title Заказывая обувь у нас Вы получаете:
    .advantage__inner.mt-5
      .row
        .col-lg-3.col-md-6.advantage__item
          .icon
            +icon('calendar')
          p Согласуем удобный <br>
          | для Вас день доставки <br>
        .col-lg-3.col-md-6.advantage__item
          .icon
            +icon('phone_2')
          p Курьер позвонит Вам <br>
          | за час до прибытия <br>
        .col-lg-3.col-md-6.advantage__item
          .icon
            img.icon-clock(src="static/images/general/clock.png")
          p Менеджер предложит время <br>
          | доставки на Ваш выбор <br>
        .col-lg-3.col-md-6.advantage__item
          .icon
            +icon('boot')
          p Курьер подождет <br>
          | 15 минут, пока Вы будете <br>
          | примерять обувь <br>
