section.delivery
  .container
    .delivery__inner.pt-5 
      .delivery__head.d-lg-flex
        h1.title Доставка
        .ml-lg-auto.delivery__btn.mb-3.tab__links
          .btn.tab__link.active(data-value="1") Москва
          .btn.tab__link(data-value="2") Россия
      include tabs
