footer.footer.pt-5
  .container
    .footer__inner
      .row
        .footer__item.col-lg-3.col-md-6
          .footer__title Каталог
          .footer__column.mb-5
            .footer__nav
              ul
                li
                  a(href="#") Черные Converse
                li
                  a(href="#") Красные Converse
                li
                  a(href="#") Высокие Converse
                li
                  a(href="#") Детские Converse
              ul
                li
                  a(href="#") Женские Converse
                li
                  a(href="#") Белые кеды Converse
                li
                  a(href="#") Кожаные кеды Converse
                li
                  a(href="#") Коричневые кеды Converse

        .footer__item.col-lg-3.col-md-6
          .footer__title О компании
          .footer__column.mb-5
            .footer__nav
              ul
                li
                  a(href="#") Вопросы и ответы
                li
                  a(href="#") Контакты
                li
                  a(href="#") Доставка
                li
                  a(href="#") Политика Безопасности
              ul
                li
                  a(href="#") Карта сайта фильтр
                li
                  a(href="#") Возврат товара
                li
                  a(href="#") Карта сайта
        .footer__item.col-lg-3.col-md-6
          .footer__title Способы оплаты
          .footer__column.mb-5
            .footer__img
              img(src="static/images/general/visa.png")
              img(src="static/images/general/mastercard.png")
              img(src="static/images/general/yandex.png")
            p 
              | Вы можете оплатить покупки
              | наличными при получении, либо
              | выбрать другой способ оплаты.
        .footer__item.col-lg-3.col-md-6
          .footer__title Наши контакты
          .footer__column.mb-5
            ul
              li 
                a(href="tel:+74951205032") Тел.: 8 (495) 120-50-32
              li Москва, Кутузовский пр-т, 36, стр. 41
              li 
                a(href="mailto:info@proox.ru") Почта: info@proox.ru
