.tabs__content
  .tab__content.tab__content-1.active
    
    .subtitle.mb-4 Доставка по Москве и Московской области
    p Доставка производится собственной курьерской службой 
    p ежедневно, с 11:00 до 22:00.

    p.pt-3
      strong По Москве в пределах МКАД 
      | - 250 рублей

    p.pt-3
      strong По Москве, за МКАД и по Московской области
    p до 10 км - 350 Р
    p до 20 км - 450 Р
    p до 30 км - 550 Р
    p до 50 км - 750 Р

    p.pt-3
      strong Примерка двух пар обуви - Бесплатно

    p Бесплатная примерка подразумевает покупку <br>
    | одной пары из двух на Ваш выбор. То есть, <br>
    | если Вы желаете преобрести 2 пары обуви, <br>
    | можете заказать 4 пары на примерку бесплатно.

    p.pt-3
      strong Примерка дополнительной пары
    p 100 рублей

    p.pt-3 При отказе от покупки не по вине магазина (производственный брак, неверно оформленный заказ), оплачивается доставка в размере 250 руб. 
    p Если доставка за МКАД, то 250 руб + стоимость доставки.
  
  .tab__content.tab__content-2    
    .subtitle.mb-4 Доставка по России
    p Доставка производится собственной курьерской службой 
    p ежедневно, с 11:00 до 22:00.

    p.pt-3
      strong По России
    p до 10 км - 350 Р
    p до 20 км - 450 Р
    p до 30 км - 550 Р
    p до 50 км - 750 Р

    p.pt-3
      strong Примерка двух пар обуви - Бесплатно

    p Бесплатная примерка подразумевает покупку <br>
    | одной пары из двух на Ваш выбор. То есть, <br>
    | если Вы желаете преобрести 2 пары обуви, <br>
    | можете заказать 4 пары на примерку бесплатно.

    p.pt-3
      strong Примерка дополнительной пары
    p 100 рублей

    p.pt-3 При отказе от покупки не по вине магазина (производственный брак, неверно оформленный заказ), оплачивается доставка в размере 250 руб. 
    p Если доставка за МКАД, то 250 руб + стоимость доставки.
