.top
  .container
    .top__inner
      .top__logo
        img(src='static/images/general/logo.png' alt="Логотип")
      .top__menu
        a(href="#") Доставка  и оплата
        a(href="#") Обмен и возврат
        a(href="#") Блог
        a(href="#") контакты
      .top__phone
        +icon('phone')
        span.pl-3 8(495)120-50-32
